.ug-list::-webkit-scrollbar {
  display: none;
}

.list-item:hover {
  background-color: rbg(226, 226, 226);
}

.list-item:active {
  background-color: white;
}

.account-icon {
  width: 1.5em !important;
  height: 1.5em !important;
}

.icon {
  width: 1.25em !important;
  height: 1.25em !important;
}

/* index.css or global stylesheet */
